## Below
torch
torchvision
torchaudio
--index-url https://download.pytorch.org/whl/cpu
## Above deps: mpmath, urllib3, typing-extensions, sympy, pillow, numpy, networkx, MarkupSafe, idna, filelock, charset-normalizer, certifi, requests, jinja2, torch, torchvision, torchaudio
